{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="col-10 mx-auto">
        <p class="display-5">Administration Exchange Kyriba</p>
        <div class="jumbotron mb-5">
            <p class="lead">Bienvenue dans l'espace de gestion des transferts Kyriba</p>
        </div>        
        <p class="display-6"><i class="fas fa-arrow-down"></i> Export / Report</p>
        <p class="lead">Cet outil permet de récupérer des informations provenant du serveur Kyriba, de les renommer, de les insérer en base de données et de les déposer dans chaque serveur respectif (peoplesoft, ubw) selon la convention de nommage établi par Kyriba pour les exports de fichiers.</p>
        <div class="row">
            <div class="col-4 alert alert-light">
                <span class="display-3">{{ countTotal }}</span><span class="display-7"> Fichiers traités</span>  
            </div>
            <div class="col-4 alert alert-light">
                <span class="display-3">{{ countExport }}</span><span class="display-7"> Fichiers EXPORT</span>  
            </div>
            <div class="col-4 alert alert-light">
                <span class="display-3">{{ countReport }}</span><span class="display-7"> Fichiers REPORT</span>  
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 alert alert-secondary">
                <span class="display-3">{{ countTotal }}</span><span class="display-7"> Fichiers renommés</span>
            </div>
            <div class="col-4 alert alert-success">
                <span class="display-3">{{ countTotal }}</span><span class="display-7"> Fichiers validés</span>
            </div>
            <div class="col-4 alert alert-danger">
                <span class="display-3">0</span><span class="display-7"> Fichiers echoués</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="row mt-3 mb-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{{path('traitement')}}" class="btn btn-primary btn-lg me-md-2" type="button">Traitement</a>
                    <a href="{{ path('app_export_ktoPs')}}" class="btn btn-primary btn-lg" type="button">Executer Export PeopleSoft</a>
                    <a href="{{ path('app_export_ktoUbw')}}" class="btn btn-primary btn-lg" type="button">Executer Export Ubw</a>
                </div>
            </div>
        </div>
        <hr>
        <p class="display-6 mt-5"><i class="fas fa-arrow-up"></i> Import</p>
        <p class="lead">Cet outil permet également de récupérer des informations provenant des serveurs respectifs (peoplesoft,ubw), de les renommer, de les insérer en base de données et de les déposer dans le serveur Kyriba selon la convention de nommage établi par Kyriba pour les imports de fichiers.</p>
    </div>
   
{% endblock %}